<div *ngIf="loggedIn">
    <!-- <img src="{{ user.photoUrl }}"> -->
    <div>
        <h3 class="my-garden-text">Hello {{ user.name }}, Please feel free to add context to the plants you have
			added to your garden!</h3>
		<!-- <p>{{ user.email }}</p> -->
		<!--<p>{{ user.id }}</p> Google Auth ID to log in SQL-->
	</div>

	<div class="item-container">
		<h3>My Gardens</h3>
		<ul class="list-items">
			<li class="plant-list" *ngFor="let garden of listGardens; index as i">
				<p>Garden Number: {{garden.gardenName}}</p>
                <!-- <p>Plant Name : {{garden.plantDate}}</p>
                <p>Water : {{garden.wateringFreq}}</p> -->
			<!-- <button (click)="getWaterDate()">water date</button> -->
			</li>
		</ul>
	</div>
       
       
       
        <div *ngIf="loggedIn">
            <!-- <img src="{{ user.photoUrl }}"> -->
            <div>
