/* .navbar {
} */

.title {
  font-size: 36px;
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 50px;
  width: 100%;
}

.list-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 15px;
  height: 100%;
}

.link {
  text-decoration: none;
  font-size: 25px;
  margin: 15px;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.item {
  list-style: none;
}
.item:last-of-type {
  margin-left: 25px;
}
/* .link-button{
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 50px;
  
} */
