h1 {
    color: white;
    font-size: 60px;
    width: 100%;
    text-align: center;
   
  }
  
  img{
    height: 500px;
    width: 650px;
  }
  
  .item-container {
    /* flex-wrap: wrap; */
    display: flex;
    /* align-content: flex-start; */
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    padding: 40px;
    border-radius: 8px;
    margin: 0 auto;
  
  }
  .input-container{
    align-self: center;
  }
  .list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  .plant-info{
    display: flex;
    justify-content: center;
  }
  .searchedplantz {
    list-style: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    color: white;
    background-color: rgba(0, 116, 25);
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .searchedplantz:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease;
  }
  
  .ask-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  

  .buttontester {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttontester:hover {background-color: #3e8e41}
  
  .buttontester:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }