.user-name {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;
}
.garden-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;

}
.input-container {
  align-self: center;
  margin-bottom: 10px;
}
h3,h2 {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.plant-list {
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 116, 25);
  padding: 14px;
  display: flex;
  flex-direction: column;
  width: 325px;
}
.garden-list {
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 116, 25);
  padding: 14px;
  display: flex;
  flex-direction: column;
  width: 325px;
}
.garden-items{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.list-items {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.garden-wrapper {
  color: white;
  justify-content: center;
  display: flex;
}
.my-garden-text {
  color: white;
  justify-content: center;
  display: flex;
}
.my-garden-text {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.gardenbuttonz {
  color: white;
  justify-content: last baseline;
  display: flex;
}
.user-name {
  color: white;
  justify-content: left;
  font-size: 25px;
}
.plant-detail{

  list-style: none;
}
.buttontester {
  display: inline-block;
  padding: 6px 8px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttontester:hover {
  background-color: #3e8e41;
}

.buttontester:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button-tester {
  display: inline-block;
  padding: 8px 12px;
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.button-tester:hover {
  background-color: #3e8e41;
}

.button-tester:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
