.user-name{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
.item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;

}

h3 {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.plant-list{
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 116, 25);
  padding: 22px;
  display: flex;
  flex-direction: column;
  width: 350px;
    
}
.garden-wrapper{
   color: white; 
   justify-content: center;
   display: flex;
}
.my-garden-text{
  color: white;
  justify-content: center;
  display: flex;
  
}

.my-garden-text{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/* h1 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
} */
.gardenbuttonz{
  color:white;
  justify-content: last baseline;
  display: flex;
}
.user-name{
  color: white;
  justify-content: left;
  font-size: 25px;
}
