<div *ngIf="loggedIn">
	<!-- <img src="{{ user.photoUrl }}"> -->
	<div>
		<h1 class="my-garden-text">Hello {{ user.name }}, Please feel free to add context to the plants you have
			added to your garden!</h1>
		<!-- <p>{{ user.email }}</p> -->
		<!--<p>{{ user.id }}</p> Google Auth ID to log in SQL-->
	</div>
	<div class="item-container">

		<div class="input-container">
			<input type="text" [(ngModel)]="newGarden" />
			<button class="button-tester" (click)="makeGarden()">Create a New Garden</button>
		</div>
		<h2>Favorites</h2>
		<ul class="list-items">
			<li class="plant-detail" *ngFor="let plant of listPlants; index as i">
				<div class="plant-list">
					<p> Plant Name: {{plant.plantId}}</p> 
					<p> Select Garden: <select [(ngModel)]="plant.gardenId" type="text">
						<option *ngFor="let garden of listGardens">{{garden.id}}</option>
					</select></p>
					<p> Description: <input [(ngModel)]="description[i]" type="text"></p>
					<p> Date Planted: <input [(ngModel)]="plantDate[i]" type="date" min="2022-12-07"></p>
					<p> Pick Bloom: <input [(ngModel)]="pickDate[i]" type="date" min="2022-12-07"></p>
					<p> Watering Frequency in days: <input [(ngModel)]="waterFreq[i]" type="number" min="1" max="14">
					</p>
					<p> Season:
						<select [(ngModel)]="season[i]" id="seasons" name="seasons">
							<option>Summer</option>
							<option>Autumn</option>
							<option>Winter</option>
							<option>Spring</option>
						</select>
					</p>
					<p> Additional Notes: <input [(ngModel)]="notes[i]" type="text"></p>
					<button class="buttontester" (click)="UpdateGarden(i)">Add To Garden</button>
					<button class="buttontester" (click)="RemoveFromGarden(i)">Remove plant</button>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="garden-container">
		<h3>My Gardens</h3>
		<ul class="list-items">
			<li class="plant-list" *ngFor="let garden of listGardens; index as i">
				<p> Garden Name: {{garden.gardenName}}</p>
				<button class="buttontester" [routerLink]="['/GardenDetails',garden.gardenName]"> View More
					Details!</button>
				<button class="buttontester" (click)="deleteGarden(i)">Remove Garden</button>
			</li>
		</ul>
	</div>
	<div *ngIf="!loggedIn">
		<!-- <img src="{{ user.photoUrl }}"> -->
		<p class="user-name">Log in to see user info</p>
	</div>
</div>