<div *ngIf="loggedIn">
	<img src="{{ user.photoUrl }}">
	<div>
		<h3 class="my-garden-text">Hello {{ user.name }}, Please feel free to add context to the plants you have
			added to your garden!</h3>
		<!-- <p>{{ user.email }}</p> -->
		<!--<p>{{ user.id }}</p> Google Auth ID to log in SQL-->
	</div>
	<div class="item-container">

		<ul>
			<li class="plant-list" *ngFor="let plant of apiPlant; index as i">
				<p>{{plant.common_name}}</p>
				<p> Date Planted:<input [(ngModel)]="plantDate[i]" type="date" min="2022-12-07"></p>
				<p> Pick Bloom:<input [(ngModel)]="pickDate[i]" type="date" min="2022-12-07"></p>
				<p> Watering Frequency in days:<input [(ngModel)]="waterFreq[i]" type="number" min="1" max="14"></p>
				<p> Season:
					<select [(ngModel)]="season[i]" id="seasons" name="seasons">
						<option>Summer</option>
						<option>Autumn</option>
						<option>Winter</option>
						<option>Spring</option>
					</select>
				</p>
				<button (click)="UpdateGarden(i)">Update plant</button>
				<button (click)="RemoveFromGarden(i)">Remove plant</button>
			</li>
		</ul>

	</div>

	<div *ngIf="!loggedIn">
		<p class="user-name">Log in to see user info</p>
	</div>
</div>