<app-water-frequency></app-water-frequency>
<div class="item-container">
    <h3>~Plants in your Garden ~</h3>
    <ul class="list-items">
        <li *ngFor="let garden of listPlants; index as i" class="plant-list">
                <p> Plant: {{garden.plantId}}</p>
                <!-- <p> Garden Name:{{garden.gardenName}} </p> -->
                <!-- <p> Description: {{garden.description}} </p> -->
                <p> Date Planted: {{garden.plantDate | date}}</p>
                <p> Pick Bloom: {{garden.pickBloom | date}}</p>
                <p> Watering Frequency in days: {{garden.wateringFreq}}</p>
                <p> Season: {{garden.season}}</p>
                <button class="buttontester" (click)="RemoveFromGarden(i)">Remove plant</button>
        </li>
    </ul>
</div>