h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;
}

.input-container {
  align-self: center;
  margin-bottom: 10px;
}
.button-tester {
  display: inline-block;
  padding: 8px 10px;
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-tester:hover {
  background-color: #3e8e41;
}

.button-tester:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.searchedplantz {
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 116, 25);
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 325px;
}

.searchedplantz:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}

.searchedplantz p {
  font-size: 16px;
}

.searchedplantz img {
  max-height: 200px;
  max-width: 150px;
  margin: 0 auto;
}

.buttontester {
  display: inline-block;
  padding: 8px 10px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.buttontester:hover {
  background-color: #3e8e41;
}

.buttontester:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.wiki-item {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}
