<h1>Plants</h1>

<p>Search Plants</p>

<input type="text" [(ngModel)]="searchPlants" />

<button (click)="getPlantDetails();"> Search for {{searchPlants}}</button>

<div class="item-container">
    <ul class="item-list">
        <li class="searchedplantz" *ngFor="let p of list; index as i">
            <p>Name: {{p.common_name}} </p>
            <p>Family: {{p.family}}</p>
            <button type="button">Add to Garden!</button>
        </li>
        <li *ngFor="let image of imageList">
            <img src="{{image.previewURL}}">
        </li>
    </ul>
</div>