h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;
}
.input-container {
  align-self: center;
  margin-bottom: 10px;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.wiki-item {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}
.searchedplantz {
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 116, 25);
  padding: 22px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.searchedplantz:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}

.searchedplantz p {
  font-size: 16px;
}

.searchedplantz img {
  max-height: 250px;
  max-width: 250px;
  margin: 0 auto;
}

.ask-button {
  margin-top: 15px;
}

.ask-button:hover {
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease;
}
