<h1>Plants</h1>

<p>Search Plants</p>

<input type="text" [(ngModel)]="searchPlants" />

<button (click)="getPlantDetails()"> Search for {{searchPlants}}</button>

<div class="item-container">
    <ol class ="item-list" *ngFor="let p of list; index as i">
        <li class="searchedplantz">
            
            <p>Name: {{p.common_name}}</p>
            <p>Family: {{p.family}}</p>
            <p></p>
            <button type="button">Add to Garden!</button>
            
        </li>
    </ol>
</div>

