<h1>Search Plants</h1>
<div class="item-container">
    <div class="input-container">
        <input type="text" [(ngModel)]="searchPlants" />
        <button class="button-tester" (click)="getPlantDetails();"> Search for {{searchPlants}}</button>
    </div>

    <ul class="list-items" *ngIf="bingImageList.length === plantList.length">
        <li class="searchedplantz" *ngFor="let p of plantList; index as i">
            <p>Name: {{p.common_name}} </p>
            <p>Family: {{p.family}}</p>
            <img src="{{bingImageList[i]}}">
            <button class="buttontester" type="button" (click)="AddToGarden(p,bingImageList[i])">Add to
                Favorites!</button>
            <button class="buttontester" (click)="getWikiDetail(searchPlants);">Learn more</button>
        </li>
    </ul>
    <p class="wiki-item">{{wikiSnippet}}</p>
</div>